*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: #3e52a3;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: #E6EFF6;
  font-weight: 400;
  line-height: 1.5;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 3%;
}

.price-grid {
  margin: 0 auto;
  width: 85%;
  max-width: 330px;
  border-radius: .3rem;
  overflow: hidden;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.join-our-community {
  background-color: #fff;
  padding: 1.8rem 1.5rem;
}

.join-our-community h1 {
  font-size: 1.2em;
  color: #98a6bd;
  font-weight: 700;
}

.join-our-community h2 {
  font-size: .95em;
  color: #c0df34;
  margin: 1em 0;
}

.join-our-community p {
  color: #2ab2af;
  font-size: .90em;
  line-height: 1.6;
}

.monthly-sub {
  background-color: #2ab2af;
  padding: 1.5rem 1.5rem;
  color: #fff;
}

.monthly-sub h1 {
  font-size: 1.1em;
  margin-bottom: .5rem;
}

.monthly-sub h2 {
  font-size: 1em;
  vertical-align: middle;
  color: #e5eff5;
  font-weight: 400;
}

.monthly-sub h2 span {
  color: #fff;
  font-size: 2em;
  vertical-align: middle;
  font-weight: 700;
  padding-right: .5em;
}

.monthly-sub p {
  margin-bottom: 1.7rem;
}

.monthly-sub a {
  display: block;
  background-color: #c0df34;
  padding: .8em 1em;
  text-align: center;
  border-radius: .35rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.why-us {
  background-color: #4ABEBD;
  padding: 1.4rem 1.5rem;
}

.why-us h1 {
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.why-us ul {
  font-size: .9em;
  color: #e5eff5;
  list-style: none;
}

@media only screen and (min-width: 800px) {
  .price-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    max-width: 630px;
  }
  .join-our-community {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/ span 2;
    padding: 2rem 2rem;
  }
  .join-our-community h1 {
    font-size: 1.5em;
  }
  .join-our-community h2 {
    font-size: 1.1em;
  }
  .join-our-community p {
    font-size: 1em;
  }
  .monthly-sub {
    padding: 2rem;
  }
  .monthly-sub h1 {
    font-size: 1.2em;
  }
  .monthly-sub h2 {
    font-size: 1em;
  }
  .monthly-sub h2 span {
    font-size: 2em;
  }
  .monthly-sub p {
    margin-bottom: 1.8em;
  }
  .why-us {
    padding: 2rem;
  }
  h1 {
    font-size: 1.2em;
  }
}
