*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

// Colors
$background-color: #E6EFF6;
$lgray: hsl(204, 43%, 93%);
$green: #4ABEBD;
$cyan: #2ab2af;
$bright-yellow: hsl(71, 73%, 54%);
$white: #fff;
$grayish-blue: hsl(218, 22%, 67%);


body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: $background-color;
  font-weight: 400;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3%;
}

.price-grid {
  margin: 0 auto;
  width: 85%;
  max-width: 330px;
  border-radius: .3rem;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.join-our-community {
  background-color: #fff;
  padding: 1.8rem 1.5rem;

  h1 {
    font-size: 1.2em;
    color: $grayish-blue;
    font-weight: 700;
  }

  h2 {
    font-size: .95em;
    color: $bright-yellow;
    margin: 1em 0;
  }

  p {
    color: $cyan;
    font-size: .90em;
    line-height: 1.6;
  }
}

.monthly-sub {
  background-color: $cyan;
  padding: 1.5rem 1.5rem;
  color: $white;

  h1 {
    font-size: 1.1em;
    margin-bottom: .5rem;
  }

  h2 {
    font-size: 1em;
    vertical-align: middle;
    color: $lgray;
    font-weight: 400;

    // Dollar
    span {
      color: $white;
      font-size: 2em;
      vertical-align: middle;
      font-weight: 700;
      padding-right: .5em;
    }
  }

  p {
    margin-bottom: 1.7rem;
  }

  a {
    display: block;
    background-color: $bright-yellow;
    padding: .8em 1em;
    text-align: center;
    border-radius: .35rem;

    color: $white;
    text-decoration: none;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.why-us {
  background-color: $green;
  padding: 1.4rem 1.5rem;


  h1 {
    color: $white;
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  ul {
    font-size: .9em;
    color: $lgray;
    list-style: none;
  }
}

@media only screen and (min-width: 800px) {
  .price-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 630px;
  }

  .join-our-community {
    grid-column: 1/ span 2;
    padding: 2rem 2rem;

    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.1em;
    }

    p {
      font-size: 1em;
    }

  }

  .monthly-sub {
    padding: 2rem;

    h1 {
      font-size: 1.2em;
    }

    h2 {
      font-size: 1em;
      span {
        font-size: 2em;
      }
    }

    p {
      margin-bottom: 1.8em;
    }
  }

  .why-us {
    padding: 2rem;
  }
  h1 {
    font-size: 1.2em;
  }
}